In [1]:
import pandas as pd
import glob
import os

In [11]:
path = r'.\\'
all_files = glob.glob(os.path.join(path,"Spese_*csv"))

li =[]

for filename in all_files:
    df =pd.read_csv(filename,index_col=None,header=0)
    li.append(df)

frame = pd.concat(li,axis=0, ignore_index = True)
print(frame)

                 categoria                esercente         data       valore
0         Da Categorizzare                      NaN  04 AGO 2023  - €1.000,00
1         Da Categorizzare  ADDEBITO PREAUTORIZZATO  01 AGO 2023    - €167,85
2                 Prelievi       PRELIEVO ATM POSTE  09 AGO 2023    - €150,00
3    Locali e divertimento            PAGAMENTO POS  22 AGO 2023     - €88,00
4         Da Categorizzare                POSTAGIRO  07 AGO 2023     - €83,00
..                     ...                      ...          ...          ...
322  Ristoranti e pizzerie            PAGAMENTO POS  24 SET 2023      - €3,90
323  Locali e divertimento            PAGAMENTO POS  19 SET 2023      - €3,60
324           Supermercati            PAGAMENTO POS  27 SET 2023      - €3,24
325    Pedaggi e Parcheggi                  PEDAGGI  05 SET 2023      - €2,40
326           Supermercati            PAGAMENTO POS  11 SET 2023      - €1,79

[327 rows x 4 columns]

In [12]:
#frame['valore']=frame['valore'].str.replace(' ','')
frame['valore']=frame['valore'].str.replace('.','')
frame['valore']= frame['valore'].str.replace('€','')
frame['valore']=frame['valore'].str.replace(',','.')
frame['valore']

0      - 1000.00
1       - 167.85
2       - 150.00
3        - 88.00
4        - 83.00
         ...
322       - 3.90
323       - 3.60
324       - 3.24
325       - 2.40
326       - 1.79
Name: valore, Length: 327, dtype: object

In [13]:
frame['valore']=frame['valore'].str.replace(' ','')
frame['valore'] = frame['valore'].astype('float64')
frame['valore']

0     -1000.00
1      -167.85
2      -150.00
3       -88.00
4       -83.00
        ...
322      -3.90
323      -3.60
324      -3.24
325      -2.40
326      -1.79
Name: valore, Length: 327, dtype: float64

In [14]:


categoria_data = frame.groupby(["categoria","data"])["valore"].sum().reset_index(name="valore")
categoria_data

                     categoria         data  valore
0    Abbigliamento e calzature  05 GIU 2023  -58.80
1    Abbigliamento e calzature  11 FEB 2023  -11.61
2    Abbigliamento e calzature  14 GIU 2023  -15.00
3    Abbigliamento e calzature  14 MAG 2023   -9.90
4    Abbigliamento e calzature  24 SET 2023  -20.00
..                         ...          ...     ...
276                      Treno  25 APR 2023   -4.60
277       Utenze e abbonamenti  06 LUG 2023  -10.00
278       Utenze e abbonamenti  18 SET 2023  -10.00
279       Utenze e abbonamenti  20 MAG 2023  -10.00
280           Visite e analisi  07 SET 2023  -85.00

[281 rows x 3 columns]

In [15]:
data_categoria = frame.groupby(["data","categoria"])["valore"].sum().reset_index(name="valore")
data_categoria

            data                  categoria  valore
0    01 AGO 2023           Da Categorizzare -167.85
1    01 AGO 2023               Supermercati   -4.81
2    01 GEN 2023           Da Categorizzare   -2.00
3    01 GIU 2023               Supermercati   -3.24
4    02 AGO 2023           Da Categorizzare   -0.40
..           ...                        ...     ...
276  31 AGO 2023                  Fast food   -6.50
277  31 LUG 2023  Abbigliamento e calzature  -40.00
278  31 LUG 2023   Altro/Shopping e servizi  -12.61
279  31 MAG 2023           Da Categorizzare   -0.40
280  31 MAR 2023               Supermercati   -4.21

[281 rows x 3 columns]

In [16]:
categoria_metodo = frame.groupby("categoria")["valore"].sum()
totale= frame["valore"].sum()
categoria_metodo.loc["totale"] = totale
categoria_metodo

categoria
Abbigliamento e calzature       -155.31
Aereo                           -115.57
Affitto                         -600.00
Altro/Casa                        -3.00
Altro/Contanti                  -237.40
Altro/Motori e trasporti         -80.72
Altro/Shopping e servizi        -985.19
Altro/Tempo libero e viaggi     -106.96
Arredamento                      -70.87
Associazioni                     -20.00
Bar e caffè                     -106.92
Carburante                      -322.23
Cosmesi                          -15.95
Cultura e spettacoli            -195.40
Da Categorizzare               -5507.55
Elettronica                     -199.95
Farmacie                         -49.91
Fast food                       -302.26
Fitness e sport                  -85.30
Imposte sulla casa               -40.00
Libri, Giochi e Musica          -418.85
Locali e divertimento           -281.30
Manutenzione                     -24.60
Noleggio                          -3.40
Pedaggi e Parcheggi              -77.40
Prelievi                        -500.00
Prodotti di investimento       -1000.00
Regali                           -95.80
Ristoranti e pizzerie          -1206.22
Spese condominiali               -83.00
Supermercati                    -841.42
Taxi e car sharing               -58.50
Trasporto pubblico               -52.20
Treno                            -32.40
Utenze e abbonamenti             -30.00
Visite e analisi                 -85.00
totale                        -13990.58
Name: valore, dtype: float64

In [17]:
xlwriter= pd.ExcelWriter("budget_2023_23.xlsx")

frame.to_excel(xlwriter,sheet_name="Sheet1")
categoria_metodo.to_excel(xlwriter,sheet_name="SpesePerCategoria")
data_categoria.to_excel(xlwriter,sheet_name="SpeseGiornaliere")
xlwriter.close()